<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <%= stylesheet_link_tag 'spree/frontend/custom_checkout', media: 'screen', data: { turbo_track: 'reload' } %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/checkout_header' %>
    <div id="overlay" class="overlay"></div>

    <div data-hook="checkout_body" class="pt-3">
      <main id="content" data-hook="main_tag_checkout" class="pt-3">
        <%= flash_messages %>
        <%= yield %>
        <%# render  template: "spree/checkout/registration"%>
      </main>
      <%= yield :templates %>
    </div>

    <footer>
      <%= render 'spree/shared/copyright' %>
    </footer>
    <%= render 'spree/shared/translations' %>
  </body>
</html>