<template class="availability-template availability-template-not-available-in-currency">
  <%= render 'cart_form_availability_templates', type: 'not-available-in-currency' %>
</template>

<template class="availability-template availability-template-in-stock">
  <%= render 'cart_form_availability_templates', type: 'in-stock' %>
</template>

<template class="availability-template availability-template-backorderable">
  <%= render 'cart_form_availability_templates', type: 'backorderable' %>
</template>

<template class="availability-template availability-template-out-of-stock">
  <%= render 'cart_form_availability_templates', type: 'out-of-stock' %>
</template>

<% is_product_available_in_currency = product_available_in_currency? %>
<% default_variant = default_variant(@variants, @product) %>

<%= form_for :order, html: {id: 'add-to-cart-form',class: 'add-to-cart-form',
                                'data-product-summary': @product_summary.to_json,
                                'data-variants': product_variants_matrix(is_product_available_in_currency),
                                'data-variant-change-trigger-identifier': variant_change_identifier
                            } do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form">
    <div class="price-sku-info d-flex">

    <% if is_product_available_in_currency %>
      <div id="product-price" class="col-6 d-flex justify-content-start add-to-cart-form-price p-0" data-hook="product_price">
        <% if should_display_compare_at_price?(default_variant) %>
          <span class="compare-at-price mr-3"><%= display_compare_at_price(default_variant) %></span>
        <% end %>
        <span class="price selling" content="<%= @product_price.to_d %>">
          <%= display_price(default_variant) %>
        </span>
        <span content="<%= current_currency %>"></span>
      </div>
    <% end %>
        <div class="col-6 d-flex flex-column">
            <div class="add-to-cart-form-general-availability d-flex justify-content-end gap-1">
                <%= Spree.t(:availability) %>
                <% if !is_product_available_in_currency %>
                <%= render 'cart_form_availability_templates', type: 'not-available-in-currency' %>
                <% elsif default_variant.in_stock? %>
                <%= render 'cart_form_availability_templates', type: 'in-stock' %>
                <% elsif default_variant.backorderable? %>
                <%= render 'cart_form_availability_templates', type: 'backorderable' %>
                <% else %>
                <%= render 'cart_form_availability_templates', type: 'out-of-stock' %>
                <% end %>
            </div>
            <div class="sku d-flex justify-content-end" data-hook="product_sku">
                <%= @product.sku %>
            </div>
        </div>
    </div>
<!-- Color from related -->
  <% color_relation_product_ids = @product.relations.map{|relation| relation.related_to.id if relation.relation_type.name == "Color"}.reject(&:blank?)%>
  <% if color_relation_product_ids.any? %>
    <div id="product-related-variants" class="product-variants d-flex row mt-4">
      <%= render partial: 'product_color_option', locals: { color_relation_product_ids: color_relation_product_ids,  product: @product, show_title: '', css_class: 'gap-3', limit: nil } %>
    </div>
  <% end %>
<!--end Color from related -->

    <% if @product.variants_and_option_values(current_currency).any? %>
      <ul id="product-variants" class="product-variants d-none">
        <% used_variants_options(@variants, @product).each_with_index do |option_type, index| %>
          <li>
            <% if color_option_type_name.present? && color_option_type_name == option_type[:name] %>
              <%= render "color_option_type", option_type: option_type, index: index %>
            <% else %>
              <%= render "option_type", option_type: option_type, index: index %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>


    <div class="row my-5" data-hook="product_description">
        <div class="col-12">
            <%= render partial: 'description' %>
        </div>
        <div class="col-12 mt-2" data-hook="product_properties">
            <%= render partial: 'properties' %>
        </div>
        <div class="col-12 mt-2" data-hook="promotions">
            <%= render partial: 'promotions' %>
        </div>
    </div>



    <% if is_product_available_in_currency && @product.can_supply? %>
      <%= hidden_field_tag "variant_id", default_variant.id %>

      <div>
        <div class="mb-5 mt-4 text-center text-md-left d-none">
          <%= render 'spree/shared/quantity_select', input_name: :quantity %>
        </div>

        <%= button_tag class: 'btn btn-light add-to-cart-button w-100', id: 'add-to-cart-button', type: :submit, disabled: true do %>
          <%= Spree.t(:add_to_cart) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>