  <% if Spree::Cms::Pages::ProductExtraInfoTab.all.size > 0 %>
  <% Spree::Cms::Pages::ProductExtraInfoTab.all.each do |tab| %>
    <h3 class="product-details-subtitle d-flex justify-content-between" data-bs-toggle="collapse" data-bs-target="#product-<%= tab.slug%>" role="button" aria-expanded="false">
      <%= tab.title%>
      <%= icon(name: 'arrow-right', classes: 'spree-icon-arrow spree-icon-arrow-down', width: 15, height: 15) %>
    </h3>
    <div id="product-<%= tab.slug%>" class="m-0 list-unstyled product-<%= tab.slug%> collapse" data-hook>
      <div class="page-content page-<%= tab.slug%>"><%= tab.content.html_safe%></div>
    </div>
  <% end %>
<% end %>


