<div class="offcanvas offcanvas-start" tabindex="-1" id="modalFilter" aria-labelledby="offcanvasmodalFiler">    
      <div class="offcanvas-body px-5 my-auto overflow-hidden">
        <!-- Close -->
        <div class="d-flex justify-content-between mb-3">
          <div class="sidebar-filter-menu-title">
            Filter
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fe fe-x" aria-hidden="true"></i>
          </button>
        </div>
      <!-- Close -->

        <% cache filters_cache_key('desktop') do %>
        <% end %>
        <div id="plp-filters-accordion" class="accordion accordion-flush  h-100 plp-filters1" data-hook="taxon_sidebar_navigation">
            <%= clear_all_filters_link(permitted_params, {css_class: "btn btn-outline-dark border-radius-0 font-anonymus fs-5 border-radius-0 text-capitalize"}) if product_filters_present?(permitted_params) %>

            <div class="plp-filters-scroller">
                <% available_option_types.each do |option_type| %>
                    <div class="w-100 card plp-filters-card">
                    <% ot_filter_param = option_type.filter_param %>
                    <% option_type_name = ot_filter_param.titleize.gsub(' ','_') %>
                    <% collapsed = params[ot_filter_param].blank? %>

                    <button class="card-header <%= 'collapsed' if collapsed %> plp-filters-card-header px-0" id="filters<%= ot_filter_param %>" data-bs-toggle="collapse" data-bs-target="#collapseFilter<%= ot_filter_param %>" aria-expanded="<%= !collapsed %>" aria-controls="collapseFilter<%= ot_filter_param %>" role="heading" aria-level="2">
                        <%= option_type.presentation %>
                        <%= icon(name: 'caret-down-fill_new',
                                classes: 'float-right plp-filters-card-header-arrow--plus',width: 16, height: 16) %>
                        <%= icon(name: 'caret-up-fill_new',
                                classes: 'float-right plp-filters-card-header-arrow--minus',width: 16, height: 16) %>
                    </button>
                    <div id="collapseFilter<%= ot_filter_param %>" class="filter-items collapse <%= 'show' unless collapsed %>" aria-labelledby="filters<%= ot_filter_param %>">
                        <div class="card-body px-0">
                        <%= render 'spree/shared/option_values',
                            option_type: option_type,
                            permitted_params: permitted_params %>
                        </div>
                    </div>
                    </div>
                <% end %>

                <% available_properties.each do |property| %>
                    <% if property.uniq_values.present? %>
                    <div class="w-100 card plp-filters-card">
                        <% property_name = property.name.titleize.gsub(' ','_') %>
                        <% collapsed = params.dig(:properties, property.filter_param).blank? %>
                        <button class="card-header <%= 'collapsed' if collapsed %> plp-filters-card-header px-0" id="filters<%= property_name %>" data-bs-toggle="collapse" data-bs-target="#collapseFilter<%= property_name %>" aria-expanded="<%= !collapsed %>" aria-controls="collapseFilter<%= property_name %>" role="heading" aria-level="2">
                        <%= property.presentation %>
                        <%= icon(name: 'caret-down-fill_new',
                                classes: 'float-right plp-filters-card-header-arrow--plus',
                                width: 16,height: 16) %>
                        <%= icon(name: 'caret-up-fill_new',
                                classes: 'float-right plp-filters-card-header-arrow--minus',
                                width: 16,height: 16) %>
                        </button>
                        <div id="collapseFilter<%= property_name %>" class="filter-items collapse <%= 'show' unless collapsed %>" aria-labelledby="filters<%= property_name %>">
                        <div class="card-body px-0 pt-1">
                            <%= render 'spree/shared/properties',
                            params_property_name: params[property_name],
                            property: property,
                            permitted_params: permitted_params,
                            property_name: property_name
                            %>
                        </div>
                        </div>
                    </div>
                    <% end %>
                <% end %>

                <% price_collapsed = params[:price].blank? %>
                <div class="w-100 card plp-filters-card">
                    <button class="card-header text-capitalize <%= 'collapsed' if price_collapsed %> plp-filters-card-header px-0" id="filtersPrice" data-bs-toggle="collapse" data-bs-target="#collapseFilterPrice" aria-expanded="<% !price_collapsed %>" aria-controls="collapseFilterPrice" role="heading" aria-level="2">
                    <%= Spree.t('plp.price') %>
                    <%= icon(name: 'caret-down-fill_new',
                            classes: 'float-right plp-filters-card-header-arrow--plus',
                            width: 16,height: 16) %>
                    <%= icon(name: 'caret-up-fill_new',
                            classes: 'float-right plp-filters-card-header-arrow--minus',
                            width: 16,height: 16) %>
                    </button>
                    <div id="collapseFilterPrice" class="filter-items collapse <%= 'show' unless price_collapsed %>" aria-labelledby="filtersPrice">
                    <div class="card-body px-0" style="columns:2;">
                        <% price_filters.each do |price_range| %>
                        <%= price_filter_link(price_range, permitted_params) %>
                        <% end %>
                    </div>
                        <div id="filterPriceRangeDesktop" class="m-1">
                            <div class="d-inline-flex mb-2">
                                <%= min_price_filter_input class: 'w-50 p-2 mr-1' %>
                                <%= max_price_filter_input class: 'w-50 p-2' %>
                            </div>

                            <%= link_to Spree.t('plp.done'), permitted_params, class: 'btn btn-primary spree-btn w-100', data: { params: permitted_params } %>
                        </div>
                    </div>
                </div>
                <% additional_filters_partials.each do |partial| %>
                    <%= render "spree/products/filters/#{partial}", permitted_params: permitted_params %>
                <% end %>
            </div>
        </div>
    </div>
</div>