<!-- partial = "spree/products/option_type"-->
<div class="product-variants-variant d-flex row" data-option-type-id="<%= option_type[:id] %>">
  <span class="my-3 text-left color-option-title col-12 p-0">
    <%= option_type[:presentation] %>
  </span>

  <div class="d-flex row gap-3 justify-content-start px-2 align-items-end">
    <ol class="d-flex flex-wrap product-variants-variant-values">
      <% option_type[:option_values].each do |option_value| %>
        <li class="not-color d-flex">
          <% if related_present %>
            <%= radio_button_tag "variant_option_value_id_#{option_type[:id]}",
              option_value[:id],
              option_value[:is_default] && index == 0,
              class: "product-variants-variant-values-radio",
              data: {
                "option-type-index" => index,
                "presentation" => option_value[:presentation],
                "is-color" => true,
                "variant-id" => option_value[:variant_id]
              } %>
          <% else %>
            <%= radio_button_tag "variant_option_value_id_#{option_type[:id]}",
              option_value[:id],
              option_value[:is_default] && index == 0,
              class: "product-variants-variant-values-radio",
              data: {
                "option-type-index" => index,
                "presentation" => option_value[:presentation],
                "variant-id" => option_value[:variant_id]
              } %>
          <% end %>

          <%= label_tag "variant_option_value_id_#{option_type[:id]}_#{option_value[:id]}",
            class: "m-1 select-label","aria-label" => option_value[:presentation] do %>
            <span><%= option_value[:presentation] %></span>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
<!-- partial = "spree/products/option_type"-->