<!-- partial = "spree/shared/products/product_color_option" -->
<% title = show_title.present? && show_title == 'not_show' ? false : true %>

<% option_types = Spree::Variants::OptionTypesFinder.new(variant_ids: product.variants.map(&:id)).execute %>
<% color_options = Spree::Variants::OptionTypesPresenter.new(option_types, product.variants, product).options %>
<% if title %>
<div class="my-3 text-left color-option-title col-12 p-0"><%= color_options.first[:presentation] %></div>
<% end %>
<div class="d-flex px-0 mt-auto">
    <div class="d-flex flex-row  <%= css_class %> justify-content-start p-0 align-items-end product-variants-variant" data-option-type-id="<%= color_options.first[:id] if color_options.present?%>">  
        
        <% color_options.each_with_index do |option_type, index| %>
            <% if color_option_type_name.present? && color_option_type_name == option_type[:name] %>
                <a href="<%= product_path(product)%>" class="color-svg">
                    <%= render partial: "spree/products/color_option_type_new", locals: {  option_type: option_type, index: 0, tooltip_title: product.name } %>
                </a>
            <% end %>
        <% end %>

        <% color_relation_product_ids_check_limit = limit.present? ? color_relation_product_ids.take(limit) : color_relation_product_ids %>
        <% color_relation_product_ids_check_limit.each do |pr_id|%>
            <% related_product = Spree::Product.find_by_id(pr_id) %>
            <% option_types = Spree::Variants::OptionTypesFinder.new(variant_ids: related_product.variants.map(&:id)).execute %>
            <% rel_options = Spree::Variants::OptionTypesPresenter.new(option_types, related_product.variants, related_product).options %>
            <% rel_options.each_with_index do |option_type, index| %>
                <% if color_option_type_name.present? && color_option_type_name == option_type[:name] %>
                <a href="<%= product_path(related_product) %>" class="color-svg">
                    <%= render partial: "spree/products/color_option_type_new", locals: { option_type: option_type, index: nil, tooltip_title: related_product.name } %>
                </a>
                <% end %>
            <% end %>
        <% end %>
        
        <% if limit.present? %>
        <a href="<%= product_path(product)%>" title="<%= product.name%>" class="text-decoration-none text-black text-lowercase color-svg-more"><%= Spree.t('more') %>...</a>
        <% end %>

    </div>
</div>
<!-- partial = "spree/shared/products/product_color_option" -->