<% @body_id = 'signup' %>
<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<div class="col-lg-6 offset-lg-3">
  <h3 class="spree-header spree-mb-large spree-mt-large font-halvar text-uppercase shopping-cart-header fw-bold"><%= Spree.t(:new_customer) %></h3>
  <div id="new-customer" data-hook="login">
    <%= form_for resource, as: :spree_user, url: spree.registration_path, data: { turbo: false } do |f| %>
      <div data-hook="signup_inside_form">
        <%= render partial: 'spree/shared/user_form', locals: { f: f, remember_me_field: true } %>
        <div><%= f.submit Spree.t(:sign_up), class: 'btn btn-outline-dark border-radius-0 font-anonymus fs-5 border-radius-0 text-capitalize mb-5' %></div>
      </div>
    <% end %>

    <span class="d-flex justify-content-center align-items-center gap-4 py-5">
      <h3 class="spree-header font-halvar text-uppercase shopping-cart-header fw-bold"><%= Spree.t('already_have_account') %></h3>
      <%= link_to Spree.t(:log_in), spree.login_path, class: 'btn btn-outline-dark border-radius-0 font-anonymus fs-5 border-radius-0 text-capitalize' %>
    </span>
    <div data-hook="login_extras"></div>
  </div>
</div>
