<!-- layout="spree/checkout/registration" -->
<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<span class="marcel-registration-snippet">
  <div class="container py-1 py-md-5 checkout-registration">
    <div class="row col-xs-12 col-lg-11 mx-auto">
      <div class="col-xs-12 col-lg-6">
        <%= render partial: 'spree/shared/login_new' if defined?(spree_login_path) %>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="col-lg-11 mx-auto">
          <% if defined?(spree_signup_path) %>
            <%= render partial: 'spree/shared/registration', locals: { registration_button: '' } %>
          <% end %>
          <% if Spree::Config[:allow_guest_checkout] %>
            <div class="checkout-registration-styled-or">
              <%= Spree.t(:or) %>
            </div>
            <% path = spree.respond_to?(:update_checkout_registration_path) ? spree.update_checkout_registration_path : spree_signup_path %>

            <%= form_for @order, url: path, method: :put, html: { id: 'checkout_form_registration', data: { turbo: false } } do |f| %>
              <div class="form-group">
                <p class="form-group checkout-content-inner-field">
                  <%= f.email_field :email, class: 'spree-flat-input', placeholder: Spree.t(:email) %>
                </p>
              </div>
              <%= f.submit Spree.t(:continue_as_guest), class: 'btn btn-outline-dark border-radius-0 font-anonymus fs-5 border-radius-0 text-capitalize', data: { turbo_frame: '_top' }%>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</span>
<!-- layout="spree/checkout/registration" -->