<div class="row py-6 py-lg-9 footer-menu">
    <div class="col-6 col-lg-3">
        <a href="/">
        <%= icon(name: 'logo_footer', classes: '', width: 233, height: 83) %>
        </a>
    </div>
    <div class="col-12 col-lg-9 row ">
        <% if spree_menu('footer').present? %>
            <ul class="list-group border-0 ps-0 col-12 col-lg-4 mb-4 mt-4 mt-lg-0 mb-lg-0">
              <% spree_menu('footer').children.each_with_index do |parent, index| %>
                  <%= tag.li class: "list-group-item border-0 bg-transparent" do %>
                      <%= parent.container? ?  parent.name : spree_nav_link_tag(parent)%>
                  <% end %>
              <% end %>
            </ul>

              <%# this is subcat %>
              <% use = false %> 
              <% if use %>
              <ul>
                <% parent.children.each do |child| %>
                  <li class="">
                      <%= spree_nav_link_tag(child) %>
                  </li>
                <% end %>
              </ul>
              <% end %>
              <%# this is subcat %>
        <% end %>
                
        <ul class="col-12 col-lg-5 accordion accordion-flush list-group border-0 ps-2 mb-4 mb-lg-0" id="footerNav">
          <div class="footer-spree-label pb-3"><%= Spree.t('categories')%></div>
          <% spree_menu.children.each_with_index do |parent| %>
            <li class="list-group-item ps-0 border-0 bg-transparent">
      
              <% first = parent == spree_menu.children.first %>
              <% last = parent == spree_menu.children.last %>
              <% has_dropdown = parent.children.present? %>
              <%# dropdown_toggle_class = has_dropdown ? "dropdown-toggle" : "" %>
              <%# data_attr = has_dropdown ? { bs_toggle: "collapse" } : {} %>
              <%# aria_attr = has_dropdown ? { haspopup: true, expanded: false } : {} %>
                <%# spree_nav_link_tag(parent, { class: "nav-link #{dropdown_toggle_class}", data: data_attr, aria: aria_attr }) %>
              <!-- Toggle -->
              <div class="accordion-header border-0">
                <button class="accordion-button bg-transparent border-0 p-0 text-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%=parent.id%>footerNavCollapse" aria-expanded="false" aria-controls="flush-collapseOne">
                  <%= parent.name%>
                </button>
              </div>
                <!-- Collapse -->
                <ul class="list-group border-0 ps-0 collapse pt-1 " id="<%=parent.id%>footerNavCollapse" data-bs-parent="#footerNav">
                  <% parent.children.each_with_index do |child, index| %>
                    <li class="list-group-item border-0 bg-transparent">
                      <%= spree_nav_link_tag(child, { class: "text-decoration-none" }) %>
                    </li>
                  <% end %>
                </ul>
      
            </li>
          <% end %>
        </ul>
        <% if spree_menu('footer_2').present? %>
          <div class="col-12 col-lg-3">
            <% spree_menu('footer2').children.each_with_index do |parent, index| %>
                <%= tag.div class: "footer-spree-label pb-3" do %>
                    <%= parent.container? ?  parent.name : spree_nav_link_tag(parent, {class: 'text-decoration-none text-black'})%>
                <% end %>
            <% end %>
          </div>
        <% else %>
          <% if spree.respond_to?(:account_path) %>
              <div class="col-12 col-lg-3">
                <div class="footer-spree-label pb-3">
                  <%= link_to Spree.t('nav_bar.my_account'), spree.account_path, class: "text-decoration-none text-black" %>
                </div>
                <div class="footer-spree-label pb-3">
                  <%= link_to Spree.t(:my_orders).upcase, spree.account_path(anchor: "account-my-orders"), class: "text-decoration-none text-black" %>
                </div>
              </div>
          <% end %>
        <% end %>

    </div>

</div>
