<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%== og_meta_data_tags %>
<%== meta_data_tags %>
<%== meta_robots %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag(spree_favicon_path) %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen', data: { turbo_track: 'reload' } %>
<%= csrf_meta_tags %>
<%= render 'spree/shared/paths' %>
<%= render 'spree/shared/locale_and_currency' %>
<%= javascript_include_tag "application", defer: true, data: { turbo_track: 'reload' } %>
<%= javascript_include_tag 'spree/frontend/all', defer: true, data: { turbo_track: 'reload' } %>
<%= yield :head %>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NMPXZXD');</script>
<!-- End Google Tag Manager -->