
<header class="">
    <% section = @homepage.present? && @homepage.cms_sections.where(name: 'HOMEPAGE HEADER BANNER').present? ? @homepage.cms_sections.where(name: 'HOMEPAGE HEADER BANNER').first : nil %>

<!-- mobile -->

        <%=tag.div class: 'd-block d-lg-none mobile' do %>
                <%= render partial: 'spree/shared/header_menu', locals: {view: 'mobile'} %>
        <% end %>

<!-- end mobile -->

    <% if @homepage && section %>
        <div class="header-image-wrap position-relative">
            <img class="w-100 lazyload d-none d-lg-block" data-src="<%= main_app.cdn_image_url( section.image_one.attachment ) if section.image_one.attachment.attached?%>"
                            data-srcset="<%= main_app.cdn_image_url( section.image_one.attachment ) if section.image_one.attachment.attached? %>" >
            <img class="w-100 lazyload d-block d-lg-none" data-src="<%= main_app.cdn_image_url( section.image_two.attachment ) if section.image_two.attachment.attached?%>"
                            data-srcset="<%= main_app.cdn_image_url( section.image_two.attachment ) if section.image_two.attachment.attached?%>" >

            <div class="header-content-wrap position-absolute bottom-0 mb-5 pb-5 w-100">
                <div class="container">
                    <div class="text d-none d-lg-block"><%= section.text.html_safe%></div>
                    <div class="text d-block d-lg-none"><%= section.text_mobile.html_safe%></div>
                </div>
            </div>

        </div>
    <% end %>

<!-- desktop -->
    <%if @homepage && section %>
        <%=tag.div class: 'position-absolute top-0 w-100 d-none d-lg-block desktop' do %>
                <%= render partial: 'spree/shared/header_menu', locals: {view: 'desktop'}%>
        <% end %>
    <% else %>
        <%=tag.div class: 'd-none d-lg-block desktop' do %>
                <%= render partial: 'spree/shared/header_menu', locals: {view: 'desktop'}%>
        <% end %>
    <% end %>
<!-- end desktop -->
</header>
<% if spree_menu.present? %>
    <div class="header-nav border-bottom border-top border-1 border-black d-none d-lg-block">
        <div class="container">
            <%= render partial: 'spree/shared/main_nav_bar_new' %>
        </div>
    </div>
<%end%>