  <div class="h-100" role="navigation" aria-label="<%= Spree.t('nav_bar.desktop') %>">
    <ul class="nav main-nav-bar justify-content-between">
      <% spree_menu.children.each_with_index do |parent| %>
          <li class="p-0 nav-item main-nav-bar-category position-relative">
            <% first = parent == spree_menu.children.first %>
            <% last = parent == spree_menu.children.last %>
            <% has_dropdown = parent.children.present? %>
            <% dropdown_toggle_class = has_dropdown ? "dropdown-toggle" : "" %>
            <% data_attr = has_dropdown ? { bs_toggle: "" } : {} %>
            <% aria_attr = has_dropdown ? { haspopup: true, expanded: false } : {} %>
            <% we_use_this = false %>
            <% if we_use_this %>
              <% if parent.container? %>
                <%= content_tag :span, parent.name, class: "nav-link py-3 main-nav-bar-item main-nav-bar-category-button #{dropdown_toggle_class}", data: data_attr, aria: aria_attr %>
              <% else %>
                <%= spree_nav_link_tag(parent, { class: "nav-link py-3 main-nav-bar-item main-nav-bar-category-button #{dropdown_toggle_class}", data: data_attr, aria: aria_attr }) %>
              <% end %>
            <% end %>
            <%= spree_nav_link_tag(parent, { class: "nav-link py-3 main-nav-bar-item main-nav-bar-category-button #{dropdown_toggle_class}", data: data_attr, aria: aria_attr }) %>

             <% if has_dropdown %>
              <% column_style = nil %>
              <% column_style = '2' if parent.children.count > 7 && parent.children.count <= 13 %>
              <% column_style = '3' if parent.children.count > 13 %>
             <ul class="dropdown-menu shadow main-nav-bar-category-dropdown py-3 <% if last %>last-dropdown<%end%>" style="columns: <%= column_style%>;">
              <% parent.children.each_with_index do |child, index| %>
                <%= spree_nav_link_tag(child, { class: " main-nav-bar-category-links dropdown-item py-2 px-3" }) %>
              <% end %>
             </ul>
              
              <% if we_use_this %>

                  <!-- Categories -->
                    <% parent.children.each_with_index do |child, index| %>
                      <% if child.container? && child.code?('category') %>
                        <div class="category-links py-2">
                          <div class="category-links-header ">
                            <% if child.children.present? %>
                              <%= child.name %>
                            <% else %>
                              <%= spree_nav_link_tag(child, { class: " main-nav-bar-category-links dropdown-item truncate1" }) %>
                            <% end %>
                          </div>
                          <% if child.children.present? %>
                            <ul class="pl-0">
                              <% child.children.each do |category_link| %>
                                <li>
                                  <%= spree_nav_link_tag(category_link, { class: " main-nav-bar-category-links dropdown-item truncate1" }) %>
                                </li>
                              <% end %>
                            </ul>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  <!-- Categories -->

                <% end %>
             <% end %>
          </li>
      <% end %>
    </ul>
  </div>