
  <% content_for :head do %>
    <% if products.respond_to?(:total_pages) %>
      <%= rel_next_prev_link_tags products %>
    <% end %>
  <% end if !limit.present?%>


<div class="d-flex justify-content-center border-top border-1 border-black <%= wrap_class%>" data-hook="homepage_products">
  <div class="container">
    <div class="row mosaic-items-container px-0 px-lg-00">
      <% cache cache_key_for_products(products) do %>
        <% products.each_with_index do |product, index| %>
          <div id="product_<%= product.id %>" class="<%= 'd-none' if limit.present? && index+1 > limit.to_i %> col-6 col-lg-4 mosaiclItem pt-4 pb-5 px-4 position-relative">
            <%= render 'spree/shared/product', product: product, image_class: 'product-component-plp-image' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
    
  <% if products.respond_to?(:total_pages) %>
    <div class="col-md-12">
        <div class="row pl-md-4 pl-sm-4">
          <div class="col-12">
            <div class="plp-pagination d-none d-lg-flex">
              <%= paginate products, window: 2, theme: 'twitter-bootstrap-4' %>
            </div>

            <div class="plp-pagination d-lg-none">
              <%= paginate products, window: 1, theme: 'twitter-bootstrap-4' %>
            </div>
          </div>
        </div>
    </div>
  <% end if !limit.present?%>

